{% extends 'userbase.html' %}
{% block title %}Homepage{% endblock %}
{% block head_title %}Homepage{% endblock %}
{% load staticfiles %}
{% block framework %}
    <div class="cw1000">
	<div class="w280 fl">
		<div class="public_box">
			<div class="public_title">
				<h2>note comment</h2>
			</div>
			<!-----------------首页游记评论---------------->
			<div class="comments_list">
				<ul>
                    {% for diary_comment in diary_comments %}
                        <li>
						<div class="note">
							<div class="pic"><img src="{{ MEDIA_URL }}{{ diary_comment.diary.user.portrait }}"/></div>
							<div class="con">
								<a href="{% url 'diarys:details' diary_comment.diary.id %}"><h3>{{ diary_comment.diary.title }}</h3></a>
								<p>author：<span>{{ diary_comment.diary.user.nickname }}</span><label>{{ diary_comment.diary.commentsnum }} comments</label></p>
							</div>
						</div>
						<div class="text">
							<p>my comments：{{ diary_comment.comments }}</p>
						</div>
					</li>
                    {% endfor %}
				</ul>
				<div class="h_more"><a href="{% url 'mycomments' %}?comments_type=note">共<b>{{ diary_comments_count }}</b> comments</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>view comment</h2>
			</div>
			<!-----------------首页景区评论---------------->
			<div class="comments_list">
				<ul>
                    {% for spots_comment in spots_comments %}
                        <li>
						<div class="scenic">
							{% if spots_comment.spots.classification == 'natural' %}
                            <div class="tip"><img src="{% static 'images/scenic_ico.png' %}">scenery</div>
                        {% elif spots_comment.spots.classification == 'leisure' %}
                            <div class="tip"><img src="{% static 'images/leisure_ico.png' %}">enterment</div>
                        {% else %}

                        {% endif %}
							<a href="{% url 'scenicspots:scenic_detail' spots_comment.spots.id %}"><h3>{{ spots_comment.spots.name }}</h3></a>
							<div class="clear"></div>
						</div>
						<div class="text">
							<p>comments：{{ spots_comment.comments }}</p>
						</div>
					</li>
                    {% endfor %}
				</ul>
				<div class="h_more"><a href="{% url 'mycomments' %}?comments_type=scenic">共<b>{{ spots_comments_count }}</b> comments</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>activity comment</h2>
			</div>
			<!-----------------首页活动评论---------------->
			<div class="comments_list">
				<ul>
                    {% for actives_comment in actives_comments %}
                        <li>
						<div class="activities">
							<a href="{% url 'scenicspots:active_detail' actives_comment.active.id %}"><h3>{{ actives_comment.active.title }}</h3></a>
							<label>￥{{ actives_comment.active.price }}</label>
						</div>
						<div class="text">
							<p>comment：{{ actives_comment.comments }}</p>
						</div>
					</li>
                    {% endfor %}
				</ul>
				<div class="h_more"><a href="{% url 'mycomments' %}?comments_type=active">共<b>{{ actives_comments_count }}</b> comments</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>goods comment</h2>
			</div>
			<!-----------------首页商品评论---------------->
			<div class="comments_list">
				<ul>
                    {% for project_comment in project_comments %}
                        <li>
						<div class="project">
							<a href="{% url 'shop:pro_detail' project_comment.product.id %}"><h3>{{ project_comment.product.name }}</h3></a>
							<label>￥{{ project_comment.product.price }}</label>
						</div>
						<div class="text">
							<p>my comments：{{ project_comment.comments }}</p>
						</div>
					</li>
                    {% endfor %}
				</ul>
				<div class="h_more"><a href="#">共<b>{{ project_comments_count }}</b> comments</a></div>
			</div>
		</div>
	</div>
	<div class="w700 fr">
		<div class="public_box">
			<div class="public_title">
				<h2>travel notes</h2>
			</div>
			<!-----------------游记列表---------------->
			<div class="note_list">
				<ul>
                    {% for diary in diarys %}
                        <li>
						<div class="pic"><img src="{{ MEDIA_URL }}{{ diary.image }}"/></div>
						<div class="con">
							<a href="{% url 'diarys:details' diary.id %}"><h3>{{ diary.title }}</h3></a>
							<div class="user">
								<span><img src="{{ MEDIA_URL }}{{ diary.user.portrait }}" />author：<font>bah</font></span>
								<label><img src="{% static 'images/state_icon1.png' %}" />{{ diary.checknum }}</label>
								<label><img src="{% static 'images/state_icon2.png' %}" />{{ diary.commentsnum }}</label>
							</div>
							<p>{{ diary.content|striptags|truncatechars:"100"  }}</p>
						</div>
					</li>
                    {% endfor %}
				</ul>
				<div class="h_more"><a href="#">共<b>{{ diarys_count }}</b> notes</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>favorite</h2>
			</div>
			<!-----------------游记列表---------------->
			<div class="note_list">
				<ul>
                    {% for collect in collects %}
                        <li>
						<div class="pic"><img src="{{ MEDIA_URL }}{{ collect.diary.image }}"/></div>
						<div class="con">
							<a href="{% url 'diarys:details' collect.diary_id %}"><h3>{{ collect.diary.title }}</h3></a>
							<div class="user">
								<span><img src="{{ MEDIA_URL }}{{ collect.diary.user.portrait }}" />author：<font>{{ collect.diary.user.nickname }}</font></span>
								<label><img src="{% static 'images/state_icon1.png' %}" />{{ collect.diary.checknum }}</label>
								<label><img src="{% static 'images/state_icon2.png' %}" />{{ collect.diary.commentsnum }}</label>
							</div>
							<p>{{ collect.diary.content|striptags|truncatechars:"100" }}</p>
						</div>
					</li>
                    {% endfor %}
				</ul>
				<div class="h_more"><a href="{% url 'mycollect' %}"><b>{{ collects_count }}</b>favorite</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>trvel orders</h2>
			</div>
			<!-----------------旅游订单---------------->
			<div class="order_list">
				<div class="column_title">
					<ul>
						<li style="width:35%;">info</li>
						<li style="width:10%;">number</li>
						<li style="width:10%;">unit price</li>
						<li style="width:10%;">total price</li>
						<li style="width:20%;">order statuc</li>
						<li style="width:15%;">operation</li>
					</ul>
				</div>
				<div class="list_con">
					<ul>
                        {% for order in scenic_orders %}
                            <li>
							<div class="serial">order number：{{ order.order_num }}<a href="#"><i class="del"></i>delete</a></div>
							<div class="cont">
								<div class="con">
									<div class="info" style="width:35%;">
										<div class="pic"><a href="{% if order.classification == 'mp' %}
                                                                {% url 'scenicspots:scenic_detail' order.scenic_id %}
                                                              {% elif order.classification == 'hd' %}
                                                                {% url 'scenicspots:active_detail' order.scenic_id %}
                                                              {% else %}
                                                                #
                                                              {% endif %}">
                                            <img width=53 height=53 src="{{ MEDIA_URL }}{{ order.scenic_image }}" /></a></div>
										<div class="name">
											<a href="{% if order.classification == 'mp' %}
                                                                {% url 'scenicspots:scenic_detail' order.scenic_id %}
                                                              {% elif order.classification == 'hd' %}
                                                                {% url 'scenicspots:active_detail' order.scenic_id %}
                                                              {% else %}
                                                                #
                                                              {% endif %}">{{ order.order_describe|truncatechars:"10" }}</a>
											<p>date：{{ order.create_time|date:"Y-m-d" }}</p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="number" style="width:10%;">x{{ order.buy_num }}</div>
									<div class="price" style="width:10%;">￥{{ order.ticket_price }}</div>
									<div class="m_price" style="width:10%;"><div class="middle">￥{{ order.total_amount }}</div></div>
									{% if order.order_state == 'wzf' %}
                                    <div class="state" style="width:20%;">
									<div class="middle">
										<p>non-payment</p>
										<a href="{% url 'scenicspots:order_detail' order.order_num %}">order details</a>
									</div>
								</div>
								    <div class="operation" style="width:15%;">
									<div class="middle">
										<a class="buy" href="{% if order.classification == 'mp' %}
                                                            {% url 'pay:submit_order' %}?from=tickets_order&order_num={{ order.order_num }}
                                                            {% elif order.classification == 'hd' %}
                                                            {% url 'pay:submit_order' %}?from=actives_order&order_num={{ order.order_num }}
                                                            {% else %}
                                                            #
                                                            {% endif %}">pay</a>
									</div>
								</div>
                                {% elif order.order_state == 'yzf' %}
                                         <div class="state" style="width:20%;">
									<div class="middle">
										<p>No evaluation</p>
										<a href="{% url 'scenicspots:order_detail' order.order_num %}">order details</a>
									</div>
								</div>
								    <div class="operation" style="width:15%;">
									<div class="middle">
										<a class="buy" href="{% url 'operation:commentspots' %}?order_num={{ order.order_num }}">comment</a>
									</div>
								</div>
                                {% else %}
                                    <div class="state" style="width:20%;">
									<div class="middle">
										<p>payment</p>
										<a href="{% url 'scenicspots:order_detail' order.order_num %}">order detail</a>
									</div>
								</div>
								    <div class="operation" style="width:15%;">
									<div class="middle">
										<a class="buy" href="#">help center</a>
									</div>
								</div>
                                {% endif %}
									<div class="clear"></div>
								</div>
							</div>
						</li>
                        {% endfor %}
					</ul>
				</div>
				<div class="h_more"><a href="{% url 'pay:scenic_order'%}"><b>{{ scenic_orders_count }}</b> orders</a></div>
			</div>
		</div>
		<div class="public_box">
			<div class="public_title">
				<h2>shopping orders</h2>
			</div>
			<!-----------------商品订单---------------->
			<div class="order_list">
				<div class="column_title">
					<ul>
						<li style="width:35%;">order info</li>
						<li style="width:10%;">number</li>
						<li style="width:10%;">unit price</li>
						<li style="width:10%;">total price</li>
						<li style="width:20%;">order status</li>
						<li style="width:15%;">operation</li>
					</ul>
				</div>
				<div class="list_con">
					<ul>
                        {% for project_order in project_orders %}
                            <li>
							<div class="serial">order number：{{ project_order.order_num }}<a href="#"><i class="del"></i>delete</a></div>
							<div class="cont">
                                {% for goods in project_order.goods_list %}
								    <div class="con">
								<div class="info" style="width:35%;">
									<div class="pic"><a href="{% url 'shop:pro_detail' goods.good_id %}"><img width=53 height=53 src="{{ MEDIA_URL }}{{ goods.good_image }}" /></a></div>
									<div class="name">
										<a href="{% url 'shop:pro_detail' goods.good_id %}">{{ goods.good_name|truncatechars:"12" }}</a>
										<p>date：{{ project_order.create_time|date:"Y-m-d" }}</p>
									</div>
									<div class="clear"></div>
								</div>
								<div class="number" style="width:10%;">x{{ goods.good_num }}</div>
								<div class="price" style="width:10%;">￥{{ goods.good_price }}</div>
                                {% if forloop.counter == 1 %}
                                    <div class="m_price" style="width:10%;"><div class="middle">￥{{ project_order.totalprice }}</div></div>
                                    {% if project_order.order_state == 'wzf' %}
                                    <div class="state" style="width:20%;">
									<div class="middle">
										<p>no-payment</p>
										<a href="{% url 'shop:order_detail' project_order.order_num %}">order details</a>
									</div>
								</div>
								    <div class="operation" style="width:15%;">
									<div class="middle">
										<a class="buy" href="{% url 'pay:submit_order' %}?from=goods_order&order_num={{ project_order.order_num }}">pay now</a>
									</div>
								</div>
                                {% elif project_order.order_state == 'yzf' %}
                                    <div class="state" style="width:20%;">
									<div class="middle">
										<p>order processing</p>
										<a href="{% url 'shop:order_detail' project_order.order_num %}">order details</a>
									</div>
								</div>
								    <div class="operation" style="width:15%;">
									<div class="middle">
										<a class="buy" href="{% url 'operation:confirmgoods' %}?order_num={{ project_order.order_num }}">comefirm reception</a>
									</div>
								</div>
                                {% elif project_order.order_state == 'ysh' %}
                                         <div class="state" style="width:20%;">
									<div class="middle">
										<p>no comment</p>
										<a href="{% url 'shop:order_detail' project_order.order_num %}">order details</a>
									</div>
								</div>
								    <div class="operation" style="width:15%;">
									<div class="middle">
										<a class="buy" href="{% url 'operation:commentsgoods' %}?order_num={{ project_order.order_num }}">comment</a>
									</div>
								</div>
                                {% else %}
                                    <div class="state" style="width:20%;">
									<div class="middle">
										<p>complet</p>
										<a href="{% url 'shop:order_detail' project_order.order_num %}">order detail</a>
									</div>
								</div>
								    <div class="operation" style="width:15%;">
									<div class="middle">
										<a class="buy" href="#">help center</a>
									</div>
								</div>
                                {% endif %}
                                {% endif %}
								<div class="clear"></div>
							</div>
                                {% endfor %}
							</div>
						</li>
                        {% endfor %}
					</ul>
				</div>
				<div class="h_more"><a href="{% url 'pay:project_order' %}"><b>{{ project_orders_count }}</b> orders</a></div>
			</div>

		</div>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}