{% extends 'userbase.html' %}
{% load staticfiles %}
{% block title %}modifity password{% endblock %}
{% block right %}
    <div class="w700 fr">
		<div class="public_box">
			<!-----------------修改密码---------------->
			<div id="set_box">
				<div class="title"><h2>modifity password</h2></div>
                <form method="post" action="{% url 'setting' 'security' %}">
				<table class="table_list">
					<tr>
						<th>old password：</th>
						<td><input class="text" name="oldpwd" type="password" value=""/></td>
					</tr>
					<tr>
						<th>new password：</th>
						<td><input class="text" name="newpwd1" type="password" value=""/></td>
					</tr>
					<tr>
						<th>new password again：</th>
						<td><input class="text" name="newpwd2" type="password" value=""/></td>
					</tr>
				</table>
                {% csrf_token %}
				<div class="operation"><input type="submit" class="save" value="save" /></div>
                </form>
			</div>
		</div>
	</div>
{% endblock %}